<h2>お客様の情報</h2>
<dl class='student_base clearfix'>
    <dt>LINE表示名</dt>
    <dd><%= current_user.name %></dd>
    <dt>LINEID</dt>
    <dd><%= current_user.lineid %></dd>
    <% if current_user.personal.present? %>
        <dt>お名前</dt>
        <dd><%= current_user.personal.name %></dd>
        <dt>お子様のお名前</dt>
        <dd><%= current_user.personal.cname %></dd>
        <dt>お住まいの都道府県</dt>
        <dd><%= current_user.personal.pref.name %></dd>
        <dt>お子様の現在の学年</dt>
        <dd><%= current_user.personal.gakunen.name %></dd>
        <dt>電話番号</dt>
        <dd><%= current_user.personal.tel %></dd>
    <% end %>
</dl>
