<!DOCTYPE html>
<html>
  <head>
    <title>ExpresstutorV5</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--背景画像SVG-->
  <div id='bg'>
    <svg id='back_svg' style='opacity:0.2' xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1000 800">
      <defs>
          <linearGradient id="g0">
              <stop offset="0.2" stop-color="royalblue"/>
              <stop offset="0.8" stop-color="limegreen"/>
          </linearGradient>
      </defs>
      <path id='back_path' d="M 0 0 L 0 400 C 200 350 , 300 350 ,500 400 S 800 450 ,1000 400 L 1000 0" fill="url(#g0)" />
    </svg>
    </div>
    <header>
    <% flash.each do |val key| %>
      <div class='flash flash_<%= key %>'><%= val %></div>
    <% end %>
    <%= link_to root_path do %> 
      <h1 class='clearfix'><%= image_tag 'logo.png',alt: 'LINEで特急家庭教師' %></h1>
    <% end %>
    <% if is_logined %>
      <%= link_to 'マイページ', students_path,id: 'my_page_link' %>
    <% else %>
      <%= render partial: 'home/line_sign_in_form' %>
    <% end %>

    <% if controller.controller_name ==='students' %>
    <%= render partial: 'layouts/students_menu' %>
    <% else %>
      <%= render partial: 'layouts/menu' %>
    <% end %>
    </header>


    <%= yield %>

    <footer>
      <div class='footer_top'>

      </div>
    </footer>
    <script>
      $(function(){
        setTimeout(function(){
          $('.flash').slideUp();
        },3000);
      })
    </script>

  </body>
</html>
